


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}







td, th {
    padding: 20px;
}





tr {
    border-bottom: 1px solid black;
}

tr:last-child{
    border: none;
}

tr:hover{
    background-color: cadetblue;
}

tr:nth-child(even){
    background-color: cadetblue;
}